.navigation{
    background-color: palegoldenrod; 
    border: black 3px solid;
    margin-top: 2px;
    padding-left: 15px;
}

.lien{
    padding-right: 50px;
    margin: 0px;
    color: black;
    text-align: right;
    vertical-align: middle ;
}

.lien:hover{
    color: rgb(81, 134, 231);
}
body{
    font-family: Open-Sans;
    background-color: #eeecec;
}

#tit{
font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
background-color: rgb(169, 221, 169);
border: black 3px solid;
padding-left: 15px;
font-size: large;
}

.art1{
    position: relative;
    left: 325px;
}

.art2{
    position: relative;
    left: 425px;
}

.art3{
    position: relative;
    left: 525px;
}

.art4{
    position: relative;
    left: 625px;
}

.art5{
    position: relative;
    left: 725px;
}

#footer{
    border: 3px solid black;
    background-color:rgb(169, 221, 169);
    padding-left: 15px;
}

#connexion{
    float: right;
    position: relative;
    bottom: 20px;
    padding-right: 15px;
}

.form{
    
    text-align: center;
}

.form2{
    height: 30px;
    width: 250px;
    margin: 10px;
    border: 2px solid #e6e6e6; 
}
.form:hover{ 
    border-color: #17c1ff; 
}

.mestitres{
    font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    text-align: center;
}

#bjr{
    color: blue;
}

@font-face { font-family: Open-Sans; src: url("OpenSans-Regular.ttf"); }

