.navigation{
    background-color: palegoldenrod; 
    border: black 3px solid;
    margin-top: 2px;
    padding-left: 15px;
}

.lien{
    padding-right: 50px;
    margin: 0px;
    color: black;
    text-align: right;
    vertical-align: middle ;
}

body{
    font-family: Open-Sans;
    background-color: #dad6d6;
}

#tit{
font-family:Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
background-color: rgb(169, 221, 169);
border: black 3px solid;
padding-left: 15px;
font-size: large;
}

.art1{
    position: relative;
    left: 325px;
}

.art2{
    position: relative;
    left: 425px;
}

.art3{
    position: relative;
    left: 525px;
}

.art4{
    position: relative;
    left: 625px;
}

.art5{
    position: relative;
    left: 725px;
}

#footer{
    border: 3px solid black;
    background-color:rgb(169, 221, 169);
    padding-left: 15px;
}

#connexion{
    float: right;
    position: relative;
    bottom: 20px;
    padding-right: 15px;
}



@font-face { font-family: Open-Sans; src: url("OpenSans-Regular.ttf"); }

